@model IEnumerable<CarSales.Models.Car>

@{ ViewData["Title"] = "Cars"; }

@{ Layout = "_Layout2"; }

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CarName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CarModel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
</tr>
}
    </tbody>
</table>